<!DOCTYPE html>
<html>
  <head>
    <title>PaatiPenchil</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <ul class="hmenu">
    <%= render 'devise/shared/login_items' %>
  </ul>
  
  <body>
    <%= yield %>
  </body>
</html>
